@import "tailwindcss";

@theme inline {
  /* Font Family */
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui;

  /* Colors - Palette Primaire */
  --color-primary: #2E7D32;
  --color-secondary: #FFA000;
  --color-tertiary: #795548;
  --color-neutral: #F8F9FA;
  
  /* Alertes */
  --color-alert-red: #EF4444;

  /* Couleurs avec Opacité et États spécifiques */
  --color-separator: #8F9192/45;
  --color-light-bg: #C8FFBF/38;
  --color-bg-input: #F0F2F5/36;
  --color-input-border: #8F9193/30;
  --color-input-element: #777A7E;
  --color-input-icon: #777A7E/39;
  --color-label: #191C1D;

  /* Background/Foreground standards */
  --color-background: #ffffff;
  --color-foreground: #191C1D;
}

:root {
  --font-manrope: "Manrope", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}